
{% block style %} 
    <link rel="stylesheet"  href="{{ url_for('static', filename='CSS/criarconta.css')}}">
{% endblock %}



{% block block %}
<body>
    
    {% block formulario %}
    
    <form method="POST" enctype="multipart/form-data" class="feke__form">
        {{ form.csrf_token }}
        
        <div>
            
            <img class="imagem__logo" src="{{ url_for('static', filename='fotos_site/cap.jpg')}}" alt="Logo da Empresa">
            
            
            <p class="feke__p">Bem-vindo (a) ao </p>
            <p class="feke__span">caputo - FakePinterest</p>
            
            <div class="feke__label">
                {{ form.email.label() }}
                {% if form.email.errors %}
                    {% for erro in form.email.errors %}
                        <p style="color: red;">{{ erro }}</p>
                    {% endfor %}
                {% endif %}
                    {{ form.email(class="feke__input") }}
            </div>
            
            <div class="feke__label">
                {{ form.username.label() }}
                {% if form.username.errors %}
                    {% for erro in form.username.errors %}
                        <p style="color: red;">{{ erro }}</p>
                    {% endfor %}
                {% endif %}
                    {{ form.username(class="feke__input") }}
            </div>
            
            <div class="feke__label">
                {{ form.senha.label() }}
                {% if form.senha.errors %}
                    {% for erro in form.senha.errors %}
                        <p style="color: red;">{{ erro }}</p>
                    {% endfor %}
                {% endif %}
                    {{ form.senha(class="feke__input") }}
            </div>
            
            <div class="feke__label">
                {{ form.confirmacao_senha.label() }}
                {% if form.confirmacao_senha.errors %}
                    {% for erro in form.confirmacao_senha.errors %}
                        <p style="color: red;">{{ erro }}</p>
                    {% endfor %}
                {% endif %}
                    {{ form.confirmacao_senha(class="feke__input") }}
            </div>
            
            {{ form.botao_confirmacao(class="feke__botao") }}
            
            <a class="feke__criarconta" href="{{ url_for('homepage')}}">Já tem uma conta Faça Login</a>
        </div>
    </form> <!-- Formulario de criação de contas -->

    {% endblock formulario%}
    
</body>
{% endblock %}
        







