.navbar__geral{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9rem;
   background-color: black;
    border-bottom: solid 1px #ffffff93;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
    & .img__nav{
        width: 6rem;
        border-radius: 50%;
        border: solid;
        border-color: #ff0000;
        &:hover{
            transform: scale(1.4);
            transition: calc(0.6s);
    }
    
}

}

& .navbar__item{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    &:hover{
        color: red;
        text-decoration: underline;
        transform: scale(1.2);
        transition: calc(0.6s);
    }
}

.circulo{
    background-color: #eb1818b9;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    &:hover{
       background-color: #ffff00;
        transform: scale(1.2);
        transition: calc(0.6s);
        color: #ff0000;
    }
}

@media(max-width: 463em){
    .navbar__geral .cabecalho{
        display: flex;
        justify-content: space-between;
        justify-self: center;
    }
    
}
@media(max-width: 460em){
    .navbar__geral .cabecalho{
        display: flex;
        justify-content: space-between;
        justify-self: center;
    }
    
}
@media(max-width: 445em){
    .navbar__geral .cabecalho{
        justify-self: center;
        
    }
    
}
@media(max-width: 360em){
    .navbar__geral .cabecalho{
        display: flex;
        justify-content: space-between;
       margin-right: 1rem;
    }
    
}

