*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
 body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 1.4;
    background-color: rgba(136, 189, 162, 0.603);
 }

.feke__form{
    display:flex;
    flex-direction: column;
   justify-self: center;
    margin-top: 19rem;
    width: 40rem;
    background-color: rgb(231, 243, 239);
    padding: 2rem;
    gap: 3rem;
    border-radius: 3rem;
   
    & .feke__p{
        color: rgb(14, 121, 4);
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-top: 2rem;
    }
    & .feke__span{
        color: red;
        font-size: 2.5rem;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
    }
    & .feke__label{
        display: flex;
        flex-direction: column;
        color: green;
        font-weight: 700;
        font-size: 2.6rem;
       margin-top: 1.5rem;
    }
    & .feke__input{
        display: flex;
        background-color: #b1ccc0d2;
        outline: none;
        font-size: 2rem;
        font-weight: 600;
        padding: 0.4rem;
        border: none;
        border-radius: 1rem;
        padding-left: 2rem;
        
    }
    & .imagem__logo{
        display: flex;
        flex-direction: column;
        width: 10rem;
        justify-self: center;
        border-radius: 50%;
        border: solid red;
    }
    & .feke__botao{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 3rem;
        cursor: pointer;
        margin-top: 2.5rem;
        padding: 0.9rem;
        background-color: red;
        border: none;
        justify-self: center;
        width: 100%;
      &:hover{
        background-color: green;
        color: red;
      }
    
    }
    & .feke__criarconta{
        display: flex;
        flex-direction: column;
       text-align: center;
       margin-top: 1rem;
       font-size: 2rem;
       color: rgba(70, 70, 8, 0.856);
       font-weight: 800;
       text-decoration: none;
       &:hover{
        color: green;
        
       }
    }
}

@media(max-width: 444rem){
    .feke__form{
        justify-self: center;
        width: 30rem;
    }
}